<header class="video-header">
    <!-- Video background -->
    <div class="video-container">
        <video autoplay loop muted playsinline class="background-video">
            <source src="assets/videos/hero-video.mp4" type="video/mp4">
            Browser Anda tidak mendukung video.
        </video>
    </div>

    <!-- Konten navigasi dan logo di atas video -->
    <div class="container overlay">
        <div class="logo">
            <a href="index.html">
                <img src="/assets/images/Logo.PNG" alt="Logo" />
            </a>
        </div>

        <!-- Navbar -->
        <nav class="navbar">
            <ul>
                <li><a href="index.html">Beranda</a></li>
                <li><a href="pages/telegram.html">Telegram</a></li>
                <li><a href="economic-calendar.html">Economic Calendar</a></li>
                <li><a href="pages/VVIP.html">VVIP</a></li>
            </ul>
        </nav>
    </div>
</header>
